<!DOCTYPE html>
<html class="wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700,700italic">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      
      <!-- HEADER -->
      <header class="page-head slider-menu-position" data-preset='{"title":"Header with slider","category":"header, slider","reload":true,"id":"header-1"}'>
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar container rd-navbar-floated rd-navbar-dark" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              
              <!-- RD Navbar Panel -->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='80' height='80' src='images/logo-equipe.png' alt='Logo da Equipe'/></a></div>
              </div>
              
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='80' height='80' src='images/logo-equipe.png' alt='Logo da Equipe'/></a></div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="index.html"><span>Home</span></a></li>
                      <li><a href="sobrenos.html"><span>Sobre Nós</span></a></li>
                      <li><a href="#modalidades"><span>Modalidades</span></a></li>
                      <li><a href="matriculese.html"><span>Matricule-se</span></a></li>
                      <li><a href="contacts.html"><span>Área do Aluno</span></a></li>
                      <li><a href="contacts.html"><span>Área do Professor</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>
          </nav>
        </div>
        <!--Swiper-->
        <!-- Imagem 01 -->
        <div class="swiper-container swiper-slider" data-loop="false" data-autoplay="5500" data-dragable="false">
          <div class="swiper-wrapper text-center">
            <div class="swiper-slide" data-slide-bg="images/imagem-fundo.png" data-preview-bg="images/imagem-fundo.png">
              <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
                <div class="swiper-slide-caption">
                  <div class="container">
                    <div class="row justify-content-xl-center">
                      <div class="col-xl-12">
                        <div class="text-extra-big font-weight-bold font-italic text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="300">Sem suor, sem glória.</div>
                      </div>
                      <div class="col-xl-8 offset-top-10">
                        <h5 class="hidden d-sm-block text-light" data-caption-animate="fadeInUp" data-caption-delay="500">
                          Técnica e espírito exigem disciplina. Preparamos seu corpo e mente para o combate.
                        </h5>
                        <div class="offset-top-20 offset-sm-top-50"><a class="btn btn-iron btn-anis-effect" href="#" data-waypoint-to="#welcome" data-caption-animate="fadeInUp" data-caption-delay="800"><span class="btn-text">Matricule-se</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Imagem 02 -->
            <div class="swiper-slide" data-slide-bg="images/imagem-fundo2.jpg" data-preview-bg="images/imagem-fundo2.jpg">
              <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
                <div class="swiper-slide-caption">
                  <div class="container">
                    <div class="row justify-content-xl-center">
                      <div class="col-xl-12">
                        <div class="text-extra-big font-weight-bold font-italic text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="300">Vença seus próprios limites.</div>
                      </div>
                      <div class="col-xl-8 offset-top-10">
                        <h5 class="hidden d-sm-block text-light" data-caption-animate="fadeInUp" data-caption-delay="500">
                          A força real nasce do equilíbrio. Guiamos sua evolução física e mental.
                        </h5>
                        <div class="offset-top-20 offset-sm-top-50"><a class="btn btn-iron btn-anis-effect" href="#" data-waypoint-to="#welcome" data-caption-animate="fadeInUp" data-caption-delay="800"><span class="btn-text">Matricule-se</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Imagem 03 -->
            <div class="swiper-slide" data-slide-bg="images/imagem-fundo3.jpg" data-preview-bg="images/imagem-fundo3.jpg">
              <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
                <div class="swiper-slide-caption">
                  <div class="container">
                    <div class="row justify-content-xl-center">
                      <div class="col-xl-12">
                        <div class="text-extra-big font-weight-bold font-italic text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="300">Resiliência a cada treino.</div>
                      </div>
                      <div class="col-xl-8 offset-top-10">
                        <h5 class="hidden d-sm-block text-light" data-caption-animate="fadeInUp" data-caption-delay="500">
                          A verdadeira força nasce da repetição. Estrutura completa para você dominar corpo e mente.
                        </h5>
                        <div class="offset-top-20 offset-sm-top-50"><a class="btn btn-iron btn-anis-effect" href="#" data-waypoint-to="#welcome" data-caption-animate="fadeInUp" data-caption-delay="800"><span class="btn-text">Matricule-se</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button swiper-button-prev swiper-parallax mdi mdi-chevron-left"></div>
          <div class="swiper-button swiper-button-next swiper-parallax mdi mdi-chevron-right"></div>
          <div class="swiper-pagination"></div>
        </div>
      </header>

      <!-- MAIN  -->

      <section class="section-98 section-md-110 novi-background" data-preset='{"title":"Content block 1","category":"content","id":"content-block-1"}'>
        <div class="container">
          <h1>Quem Somos</h1>
          <hr class="divider bg-red">
          <div class="row justify-content-sm-center offset-top-66">
            <div class="col-xl-8">
              <p>Bem-vindo à Iron Fight! Esperamos que você aprecie os serviços e as oportunidades que oferecemos aos nossos clientes fiéis e em potencial. Somos uma Academia de Artes Marciais, temos em foco algumas lutas, como: Boxe, Jiu Jtsu, Mut Thai, MMA, Judô e Krav Maga.</p>
            </div>
          </div>
          <br> <br>
          <button type="submit" id="buton-saibamais"><a href="sobrenos.html">Saiba mais <i class="bi bi-arrow-right"></i></a></button>
          <div class="row justify-content-center grid-group-lg offset-top-98">
            <div class="col-md-8 col-lg-4">
              <!-- Icon Box Type 5-->
              <div class="box-icon box-icon-bordered"><span class="novi-icon icon icon-outlined icon-sm icon-dark-filled mdi mdi-account-multiple"></span>
                <h4 class="text-iron offset-top-20">Professores Qualificados</h4>
                <p>Nossos treinadores têm anos de experiência em diversos tipos de Artes Marciais.</p>
              </div>
            </div>
            <div class="col-md-8 col-lg-4">
              <!-- Icon Box Type 5-->
              <div class="box-icon box-icon-bordered"><span class="novi-icon icon icon-outlined icon-xs icon-dark-filled mdi mdi-thumb-up"></span>
                <h4 class="text-iron offset-top-20">Treino Personalizado</h4>
                <p>Cada cliente da Iron Fight tem um programa personalizado de treinamento.</p>
              </div>
            </div>
            <div class="col-md-8 col-lg-4">
              <!-- Icon Box Type 5-->
              <div class="box-icon box-icon-bordered"><span class="novi-icon icon icon-outlined icon-sm icon-dark-filled mdi mdi-dumbbell"></span>
                <h4 class="text-iron offset-top-20">Equipamentos Modernos</h4>
                <p>Cooperamos com fornecedores líderes de equipamentos para proporcionar a você resultados superiores.</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Modalidades  -->
      <hr class="w-100 border-0" style="height: 2px; margin-top: 4%; background-color: #fff;">
      <div class="modalidades w-100 position-relative overflow-hidden bg-success" id="modalidades"
        style="height: 860px; margin-top: 1%;">
      
        <!-- Topo com recorte geométrico -->
        <div class="centro w-100 h-50 bg-white d-flex justify-content-center align-items-center position-relative"
          style="clip-path: polygon(0% 0%, 100% 0%, 50% 60%); z-index: 1;">
          <h2 class="d-flex flex-column align-items-center text-center m-0"
            style="font-size: 35px; font-weight: 600; transform: translateY(-180px); z-index: 10; ">
            Conheça as nossas
            <span class="text-success text-uppercase mt-1">modalidades</span>
          </h2>
        </div>
      
        <div class="campo-luta position-absolute w-70"
          style="top: 200px; left: 50%; transform: translateX(-50%); z-index: 10;">
          <div class="row justify-content-center g-4 gy-5">
      
            <div class="col-4 d-flex justify-content-center" style="margin-bottom: 80px;">
              <a href="modalidades.html?luta=boxe" class="lutas boxe"><span>Boxe</span></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <a href="modalidades.html?luta=jj" class="lutas jj"><span>Jiu Jitsu</span></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <a href="modalidades.html?luta=mt" class="lutas mt"><span>Muay Thai</span></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <a href="modalidades.html?luta=mma" class="lutas mma"><span>MMA</span></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <a href="modalidades.html?luta=judo" class="lutas judo"><span>Judô</span></a>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <a href="modalidades.html?luta=km" class="lutas km"><span>Krav Maga</span></a>
            </div>
      
          </div>
        </div>
      
        <!-- Base com o recorte geométrico inferior -->
        <div class="centro2 w-100 h-50 bg-white position-relative mt-1"
          style="clip-path: polygon(50% 55%, 0% 100%, 100% 100%); z-index: 1;"></div>
      </div>

      
      <!-- FOOTER -->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark novi-background" data-preset='{"title":"Footer","category":"footer","reload":true,"id":"footer"}' style="margin-top: 120px;">
        <div class="container">
          <div class="row justify-content-md-center text-xl-left">
            <div class="col-md-12">
              <div class="row justify-content-sm-center justify-content-xl-between">
                
                <div class="col-sm-10 col-md-3 col-xl-3 text-left">
                  <div class="footer-brand"><a href="index.html"><img width='80' height='80' src='images/logo-equipe.png' alt='Logo da Equipe'/></a></div>
                  <div class="offset-top-50 text-sm-center text-xl-left">
                    <ul class="list-inline">
                      <li class="list-inline-item"><a class="novi-icon icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                      <li class="list-inline-item"><a class="novi-icon icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                      <li class="list-inline-item"><a class="novi-icon icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                      <li class="list-inline-item"><a class="novi-icon icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                    </ul>
                  </div>
                  <p class="text-darker offset-top-20">Iron Fight &copy; <span id="copyright-year"></span> 
                  
                  </p>
                </div>

                <div class="col-sm-10 col-md-3 col-xl-2 text-left offset-top-50 offset-xl-top-0">
                  <p class="text-uppercase text-spacing-60 font-weight-bold" style="color: #3B8962;">Redes Sociais</p>
                  <div class="offset-top-20">
                    <ul class="list-unstyled d-flex flex-column gap-2">
                      <li><a href="#" class="efeito text-white">Instagram</a></li>
                      <li><a href="#" class="efeito text-white">Tik Tok</a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-10 col-md-3 col-xl-2 text-left offset-top-50 offset-xl-top-0">
                  <p class="text-uppercase text-spacing-60 font-weight-bold" style="color: #3B8962;">Contato</p>
                  <div class="offset-top-20">
                    <ul class="list-unstyled d-flex flex-column gap-2">
                      <li class="text-white">ironfight@outlook.com</li>
                      <li class="text-white">(18) 99999-9999</li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-10 col-md-3 col-xl-3 text-left offset-top-50 offset-xl-top-0">
                  <p class="text-uppercase text-spacing-60 font-weight-bold" style="color: #3B8962;">Navegue</p>
                  <div class="offset-top-20">
                    <ul class="list-unstyled d-flex flex-column gap-2">
                      <li><a href="index.html" class="efeito text-white">Home</a></li>
                      <li><a href="sobrenos.html" class="efeito text-white">Sobre Nós</a></li>
                      <li><a href="modalidades.html" class="efeito text-white">Modalidades</a></li>
                      <li><a href="matriculese.html" class="efeito text-white">Matricule-se</a></li>
                      <li><a href="contacts.html" class="efeito text-white">Área do Aluno</a></li>
                      <li><a href="contacts.html" class="efeito text-white">Área do Professor</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>