<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Área do Professor</title>
    <link rel="stylesheet" href="../../css/professor.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/logo-equipe.png" alt="Logo da academia Iron Fight">
            </div>
            <div class="pags">
                <ul id="ul-header">
                    <li><a href="professor.html" class="efeito">Home</a></li>
                    <li><a href="calendario_professor.html" class="efeito">Calendário</a></li>
                    <li><a href="aula_agendada_professor.html" class="efeito">Aulas Agendadas</a></li>
                    <li><a href="aula_experimental_professor.html" class="efeito">Aulas Experimentais</a></li>
                    <li><a href="gerenciamento_aluno.html" class="efeito">Gerenciamento de Alunos</a></li>
                    <li><a href="gerenciamento_professor.html" class="efeito">Gerenciamento de Professores</a></li>
                    <div id="sair">
                        <i class="bi bi-box-arrow-right"></i>
                        <li><a href="../home.html" id="link-sair">Sair</a></li>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="title">
            <h1>área do professor</h1>
        </div>
    </header>

    <div class="modal-sair" id="modal-sair">

        <div class="modal-content-sair">


            <div class="icon-sair">
                <i class="bi bi-check-lg"></i>
                <p>Você saiu da sua conta!</p>
            </div>

        </div>

    </div>

    <main>
        <div class="foto">
            <div class="imagem">
                <img src="../../assets/carlos.png" alt="">
            </div>
            <h2 id="nome-professor">Bem vindo, Professor(a) Carlos!</h2>
        </div>

        <div class="conteudo">
            <div class="cards-conteudo">
                <a href="aula_experimental_professor.html">
                    <div class="card-conteudo">
                        <i class="bi bi-journal-text"></i>
                        <p>Aulas <br> Experimentais</p>
                    </div>
                </a>


                <a href="aula_agendada_professor.html">
                    <div class="card-conteudo">
                        <i class="bi bi-card-list"></i>
                        <p>Aulas <br> Agendadas</p>
                    </div>
                </a>
            </div>

            <div class="cards-conteudo">
                <a href="gerenciamento_aluno.html">
                    <div class="card-conteudo">
                        <i class="bi bi-person-plus"></i>
                        <p>Gerenciamento <br> de Alunos</p>
                    </div>
                </a>

                <a href="gerenciamento_professor.html">
                    <div class="card-conteudo">
                        <i class="bi bi-people"></i>
                        <p>Gerenciamento <br> de Professores</p>
                    </div>
                </a>
            </div>

            <div class="cards-conteudo-calendario">
                <a href="calendario_professor.html">
                    <div class="card-conteudo">
                        <i class="bi bi-calendar4"></i>
                        <p>Calendário</p>
                    </div>
                </a>
            </div>




        </div>
    </main>

    <footer>
        <div class="logof">
            <img src="../../assets/logo-equipe.png" alt="Imagem do logo da academia">
            <h5>academia de artes marciais</h5>
        </div>

        <div class="conteudof">
            <div class="cardf">
                <ul id="lista1">
                    <li id="titulo">navegue</li>
                    <li><a href="../home.html" class="efeito">Home</a></li>
                    <li><a href="../sobrenos.html" class="efeito">Sobre Nós</a></li>
                    <li><a href="../home.html?#modalidades" class="efeito">Modalidades</a></li>
                    <li><a href="../matriculese.html" class="efeito">Matricule-se</a></li>
                    <li><a href="../aluno/aluno.html" class="efeito">Área do Aluno</a></li>
                    <li><a href="../professor/professor.html" class="efeito">Área do Professor</a></li>
                </ul>
            </div>

            <div class="cardf">
                <ul class="ul-footer">
                    <li id="titulo">contato</li>
                    <li class="efeito">ironfight@outlook.com</li>
                    <li class="efeito">(18) 99999-9999</li>
                </ul>
            </div>

            <div class="cardf redes">
                <ul class="ul-footer">
                    <li id="titulo">resdes sociais</li>
                    <li><a href="#" class="efeito">Instagram</a></li>
                    <li><a href="#" class="efeito">Tik Tok</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script>

        
        //MODAL SAIR
        const modalSair = document.getElementById("modal-sair");
        const linkSair = document.getElementById("link-sair");


        // CLICAR EM SAIR
        linkSair.addEventListener("click", function (event) {
            event.preventDefault();

            // ABRIR MODAL
            modalSair.classList.add("active");

            // FECHAR APÓS 3 SEGUNDOS
            setTimeout(() => {
                window.location.href = "../home.html";
            }, 3000);
        });

    </script>
</body>

</html>